@import '../../../styles/colors';

.tooltip {
    position: relative;
    display: inline-block;

    &:hover .content {
        visibility: visible;
    }
}

.content {
    position: absolute;
    z-index: 1;
    visibility: hidden;
    width: 120px;
    padding: 5px 0;
    text-align: center;
    color: $text;

    border-radius: 6px;
    background-color: $dark-dp12;
}

