{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/my_list.css' %}">
{% endblock %}
{% block content %}
    <div class="row">
        <div class="card-deck mb-4">
            {% for tv_show in subscriptions %}
                <div class="card">
                    <img class="card-bg" src="{{ tv_show.poster_url }}">
                    <div class="title-content">
                        <h3><a href="#">{{ tv_show.title }}</a></h3>
                    </div>
                        <a class="btn btn-primary unsubscribe-btn" href="#">unsubscribe</a>
                    <div class="color-overlay"></div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}