body {
    background: #fafafa;
    margin-top: 5rem;
}

.content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    margin-bottom: 2rem;
}

.search-bar {
    color: white;
    margin-bottom: auto;
    margin-top: auto;
    margin-right: 50px;
    height: 60px;
    background-color: #c6c4ce;
    border-radius: 300px;
    padding: 10px;
}

.search_input {
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color: transparent;
    line-height: 40px;
    transition: width 0.4s linear;
}

.search-bar:hover > .search_input::placeholder{
    /*font: ;*/
}

.search-bar:hover > .search_input {
    padding: 0 10px;
    width: 250px;
    caret-color: #007bff;
    color: #343a40;
    transition: width 0.4s cubic-bezier(0.215, 0.610, 0.355, 1.000);
}

/*.search-bar:hover > .search_icon {*/
    /*background: #343a40;*/
/*}*/

.search_icon {
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: gray;
}