@import '../../../styles/variables';
@import '../../../styles/colors';

$extend-anim: 0.4s;

.searchBar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    margin-right: 50px;
    padding: 0 10px;
    cursor: pointer;
    border: map_get($colors, 'primary') 2px solid;
    border-radius: 300px;
    background-color: map_get($colors, 'dark-dp24');

    &__extended {
        cursor: default;
    }
}

.input {
    font-size: 1.2rem;
    line-height: 40px;
    width: 0;
    padding: 0;
    transition: all $extend-anim ease-out;
    color: map_get($colors, 'text');
    border: 0;
    border-radius: 6px;
    outline: none;
    background: none;
    caret-color: map_get($colors, 'text');

    &__extended {
        width: 250px;
        padding: 0 20px;
    }
}

.icon {
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition-delay: $extend-anim;
    border-radius: 50%;
}
