@import '../../../styles/colors';

.login {
    display: flex;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    justify-content: center;
}

.form {
    display: grid;
    grid-template-columns: 400px;
    grid-row-gap: 10px;
    justify-items: center;
}

.submitBtn {
    width: 120px;
    position: relative;
}
