@import '../../styles/variables';
@import '../../styles/colors';

.header {
    display: flex;
    align-items: center;
    height: 70px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), #121212;

    &_logo {
        width: 60px;
        height: 60px;
        mix-blend-mode: screen;
    }

    &_navBar {
        display: flex;
        margin-left: 50px;
        padding: 0;
    }

    &_item {
        margin: 10px;
        padding: 10px;
        cursor: pointer;
        text-decoration: none;
        color: map_get($colors, 'text');

        &:hover {
            border-radius: 1.5em;
            background-color: rgba(rgba(map_get($colors, 'primary'), 0.08), 0.1);
        }

        &__active {
            color: map_get($colors, 'primary');
            border-radius: 1.5em;
            background-color: rgba(map_get($colors, 'primary'), 0.08);

            &:hover {
                background-color: rgba(map_get($colors, 'primary'), 0.08);
            }
        }
    }

    &_searchBar {
        margin-left: 50px;
    }
}
