@import '../../../styles/colors';

.info {
    display: grid;
    grid-template-columns: 80px 1fr;
    grid-row-gap: 15px;
    grid-column-gap: 15px;

    &_name {
        font-size: 1.2rem;
        font-weight: bold;
        color: map_get($colors, 'secondary');
        justify-self: end;
    }

    &_content {
        font-size: 1rem;
        align-self: center;
    }
}
